body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
}

input, select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.msg {
  font-size: 0.8em;
  color: red;
}

.valid {
  border: 2px solid green;
}

.error {
  border: 2px solid red;
}

#precio-total {
  font-weight: bold;
  margin-top: 10px;
}